NotificaNovoRegistroSSQL.json
{
  "name": "NotificaNovoRegistroSSQL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2606f152-6b3b-48e2-9029-846e911ec3a5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Id, Nome, Email\nFROM Clientesn8n\nWHERE enviadoemail IS NULL OR enviadoemail = 0\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        280,
        100
      ],
      "id": "dd1435c9-328d-4e8b-92d1-85b93b292143",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "pi5vf2MIb0975bB6",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a151668-74c7-43de-9de3-ebb0829da3f2",
              "leftValue": "={{$items.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        100
      ],
      "id": "91ff8df4-770f-4ae3-9120-89345ce50560",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "9c26112fb339ed",
        "toEmail": "s*******@hotmail.com",
        "subject": "test",
        "emailFormat": "=html",
        "html": "=<html>\n  <body>\n    <h2>Olá,   {{ $json.Nome }}  !</h2>\n    <p>Seja bem-vindo à nossa plataforma.</p>\n    <p>Estamos felizes em ter você conosco.</p>\n    <p>Se precisar de ajuda, é só responder este e-mail.</p>\n    <br>\n    <p>Atenciosamente,<br>Sua equipe.</p>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        620,
        -160
      ],
      "id": "a9f0a9a6-8ce5-49c7-989c-5aacb9ad8b85",
      "name": "Send Email",
      "webhookId": "2c36f8e5-6200-4e65-ab4a-fbdcd31828df",
      "credentials": {
        "smtp": {
          "id": "k1eGwsidz1TmUCA7",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE Clientesn8n\nSET enviadoemail = 1\nWHERE id = {{$json[\"Id\"]}}"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1060,
        40
      ],
      "id": "4af00302-04dc-475b-9c9d-ec597a3df97f",
      "name": "atualiza o cliente",
      "credentials": {
        "microsoftSql": {
          "id": "pi5vf2MIb0975bB6",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Id\": {{ $('If').item.json.Id }},\n  \"Nome\": \"{{ $('If').item.json.Nome }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        -160
      ],
      "id": "59ee8afa-69cc-43ef-9b20-dbaf4d2afba4",
      "name": "Obtendo os cliente enviados"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza o cliente": {
      "main": [
        []
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Obtendo os cliente enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtendo os cliente enviados": {
      "main": [
        [
          {
            "node": "atualiza o cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79edb7f9-0ded-4eff-a37c-00b294cc6e09",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9986d0c867e3bcc0d7496ed548fd77fc46f9ecab5ddad898ece3800e19feda16"
  },
  "id": "ECduH1WbV5neGLzS",
  "tags": []
}